footer {
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 0.7rem;
  line-height: 1.7;
  border-top: 1px solid #eee;
  background-color: #f7f7f7;
}

footer#info-contacto {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background-color: var(--c-primary);
}
footer#info-contacto .container {
}
footer#info-contacto .items-info-contacto {
  text-align: center;
  color: #fff;
}
footer#info-contacto .items-info-contacto .item {
}
footer#info-contacto .items-info-contacto .bg {
  background-color: 01b06d;
}
footer#info-contacto .items-info-contacto .icono_flex {
  padding-bottom: 20px;
  text-align: center;
  display: flex;
}
footer#info-contacto .items-info-contacto .icono_flex img {
  height: 60px;
  width: auto;
  object-fit: contain;
}
footer#info-contacto .items-info-contacto .icono_flex ul {
}
footer#info-contacto .items-info-contacto .titulo_flex {
  padding-bottom: 10px;
}
footer#info-contacto .items-info-contacto .subtitulo_flex {
  font-size: 0.7rem;
  padding-bottom: 10px;
}
footer#info-contacto .items-info-contacto .texto_flex {
  font-size: 0.7rem;
  padding-bottom: 10px;
}
@media screen and (max-width: 900px) {
  footer#info-contacto {
  }
  footer#info-contacto .container {
  }
  footer#info-contacto .items-info-contacto {
  }
  footer#info-contacto .items-info-contacto .item {
  }
  footer#info-contacto .items-info-contacto .bg {
  }
  footer#info-contacto .items-info-contacto .icono_flex {
  }
  footer#info-contacto .items-info-contacto .icono_flex img {
  }
  footer#info-contacto .items-info-contacto .titulo_flex {
  }
  footer#info-contacto .items-info-contacto .subtitulo_flex {
  }
  footer#info-contacto .items-info-contacto .texto_flex {
  }
}
