footer {
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 0.7rem;
  line-height: 1.7;
  border-top: 1px solid #eee;
  background-color: #f7f7f7;
}

footer#info-contacto {
  padding-top: 56px;
  padding-bottom: 0;
  position: relative;
  background-color: var(--c-primary);
}
footer#info-contacto .container {
}
footer#info-contacto .items-info-contacto {
  text-align: left;
  color: #fff;
}

footer#info-contacto .items-info-contacto a {
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 1rem;
}
footer#info-contacto .items-info-contacto .item {
}
footer#info-contacto .items-info-contacto .bg {
}

footer#info-contacto .items-info-contacto .bg.menu-footer .texto_flex {
    padding-bottom: 10px;
}
footer#info-contacto .items-info-contacto .icono_flex {
  text-align: center;
  display: flex;
}

.icono_flex {}
footer#info-contacto .items-info-contacto .icono_flex img {
  height: 23px;
  width: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
footer#info-contacto .items-info-contacto .icono_flex ul {
}
footer#info-contacto .items-info-contacto .titulo_flex {
  padding-bottom: 10px;
}

.titulo_flex.title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
}
footer#info-contacto .items-info-contacto .subtitulo_flex {
  font-size: 0.7rem;
  padding-bottom: 10px;
}
footer#info-contacto .items-info-contacto .texto_flex {
  padding-bottom: 0;
}
footer#info-contacto .items-info-contacto .texto_flex{
  max-width: 466px;
  line-height: 1.2;
  font-size: 0.8rem;
}
.copy {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 59px;
}
.copy a {
    color: #333333;
    text-decoration: none;
    padding-right: 25px;
    display: inline-block;
}
@media screen and (max-width: 900px) {
  footer#info-contacto {
  }
  footer#info-contacto .container {
  }
  footer#info-contacto .items-info-contacto {
  }
  footer#info-contacto .items-info-contacto .item {
  }
  footer#info-contacto .items-info-contacto .bg {
  }
  footer#info-contacto .items-info-contacto .icono_flex {
  }
  footer#info-contacto .items-info-contacto .icono_flex img {
  }
  footer#info-contacto .items-info-contacto .titulo_flex {
  }
  footer#info-contacto .items-info-contacto .subtitulo_flex {
  }
  footer#info-contacto .items-info-contacto .texto_flex {
  }
  .copy{
  }
  .copy a{
  }
}




.bg.social {}

.bg.social .title {
    font-size: 1rem;
    font-weight: 400;
    max-width: 190px;
    line-height: 1.2;
    padding-bottom: 16px;
}

.bg.social .icono_flex {}

.bg.social .icono_flex > div{}

.bg.social .icono_flex > div a {
    padding-right: 24px;
}

.bg.social .icono_flex > div a img {}