:root {
  /*--c-primary: #63ae6f; */
  --c-primary: #01b06d;
  /*Verde*/
  --c-secondary: #007388;
  /* Azul */
  --c-terciary: #F4F7F6;
  /* Gris de fondo principal */
  --c-hover: #222;

  --r-facebook: #3C5A99;
  --r-twitter: #00A9FF;
  --r-homea: #F7941E;
  --r-houzz: #77BC42;
  --r-yelp: #D32323;
  --r-google: #DD4B39;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

html {
  font-size: 20px;
}

body {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #000;
  margin: 0;
}


a:hover {
  color: var(--c-hover);
}



/* Inputs */
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  display: inline-block;
  width: 100%;
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 0 10px;
  margin-bottom: 0px;
  font-size: 0.65rem;
  height: 34px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
select::placeholder,
textarea::placeholder {
  opacity: 0.8;
  color: #666666;
}

input[type="number"],
input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}



select {
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='%23343a40' d='M12 21l-12-18h24z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
  /* background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px; */
  /*background: url("data:image/svg+xml,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='sort-down' class='svg-inline--fa fa-sort-down fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23333' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z'%3e%3c/path%3e%3c/svg%3e") no-repeat right .8rem center/10px 12px;*/
  /* background: url("data:image/svg+xml,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='%23000' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3e%3c/path%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px; */
  background-repeat: no-repeat;
  background-position: calc(100% + -10px) center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}


.btn {
  display: inline-block;
  font-size: 0.75rem;
  padding: 16px 34px;
  font-weight: 600;
  display: inline-block;
  border: 0;
  background-color: #c8c8c8;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}


.modal {
  display: none;
}



.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #484848;
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
}

.subtitle {
  font-weight: 600;
  color: var(--c-secondary);
  font-size: 1rem;
  margin-bottom: 25px;
}

@media screen and (max-width:766px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }
}