section#home-principal {
  padding-top: 165px;
  padding-bottom: 50px;
  position: relative;
}
section#home-principal .container {
}
section#home-principal .sup_titulo {
  font-size: 0.7rem;
  padding-bottom: 10px;
  text-align: left;
}
section#home-principal .sup_titulo a {
  color: #000;
}
section#home-principal .title {
  font-weight: 600;
  padding-bottom: 12px;
  text-align: left;
  font-size: 2rem;
}
section#home-principal .title::after {
  content: "";
  display: block;
  width: 1184px;
  height: 3px;
  background: #000000;
  margin-top: 17px;
}
section#home-principal .sup_text {
  font-size: 0.8rem;
  padding-bottom: 28px;
  text-align: left;
}
section#home-principal .text {
  /* max-width: 1168px; */
  text-align: left;
  /* padding-bottom: -126px; */
  font-size: 0.9rem;
}
section#home-principal .form {
  /* padding-bottom: 63px; */
  padding: 60px;
}
section#home-principal .form .flex .btn {
  background-color: var(--c-primary);
}
section#home-principal .bg-image img {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  object-fit: cover;
}
section#home-principal .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
@media screen and (max-width: 900px) {
  section#home-principal {
  }
  section#home-principal .container {
  }
  section#home-principal .sup_titulo {
  }
  section#home-principal .title {
  }
  section#home-principal .text {
  }
}
